@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #1a1c22;
  --marine: #3d3a50;
  --blue: #580ef6;
  --white: #f7f7f7;
}

*,
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--marine);
  background: radial-gradient(
    circle,
    rgba(88, 14, 246, 1) 10%,
    rgba(26, 28, 34, 1) 100%
  );
  color: var(--white);
}

header {
  padding: 2em 3em;
  display: flex;
  align-items: center;
  position: relative;
}

h1 {
  position: relative;
  z-index: 99;
  font-size: 1.5rem;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: var(--marine);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 0.5em;
}

/* PRELOADER */

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--marine);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  overflow: hidden;
}

.loader {
  --path: var(--white);
  --dot: var(--blue);
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@-webkit-keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}

/* NAVIGATION */

nav {
  padding: 2px;
  flex-grow: 1;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

li > a {
  transition: 0.3s ease;
  color: var(--white);
}

li > a:hover {
  color: var(--blue);
}

ul li:nth-of-type(1) {
  margin-left: auto;
}

ul li:nth-of-type(4) {
  margin-left: auto;
}

li img {
  width: 1.7em;
}

.menu {
  position: absolute;
  display: none;
  width: 1.8rem;
  height: 1.25rem;
  padding: 0;
  border: none;
  background: none;
  right: 2em;
  z-index: 99;
  cursor: pointer;
}

.menu:after {
  content: "MENU";
  color: var(--white);
  position: relative;
  left: -0.4em;
  top: 1.5em;
}

.menu span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--white);
  top: 0;
  left: 0;
  transform: translateY(6px);
  transition: transform 0.3s ease-out;
}

.menu span + span {
  transform: translateY(12px);
}

.menu.active span {
  transform: translateY(8px) rotate(45deg);
}

.menu.active span + span {
  transform: translateY(8px) rotate(-45deg);
}

.nav-text {
  opacity: 0;
}

@media (max-width: 40em) {
  header {
    padding: 2rem 1.25rem;
  }

  .menu {
    display: block;
  }

  nav {
    position: fixed;
    z-index: 10;
    inset: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--blue);
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    transition: -webkit-clip-path 0.4s ease-out;
    transition: clip-path 0.4s ease-out;
    transition: clip-path 0.4s ease-out, -webkit-clip-path 0.4s ease-out;
  }

  nav.active {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }

  ul {
    flex-direction: column;
    padding-left: 2rem;
  }

  ul li:nth-of-type(1),
  ul li:nth-of-type(4) {
    margin: 0;
  }

  ul li {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    overflow: hidden;
    align-self: flex-start;
  }

  li a.active {
    display: block;
    transform: translateY(101%);
    transition: transform 0.2s ease-out;
  }

  li a:hover {
    color: var(--black);
  }

  li > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 0.2em;
  }

  nav a img {
    width: 0.7em;
  }

  .nav-text {
    font-size: 1.7rem;
    opacity: 1;
    padding-top: 1em;
  }
}

main {
  padding: 2rem 1.25rem;
}

/* Hero Section */

.hero-section-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
}

.hero_section h2 {
  font-size: 2rem;
  padding: 1rem 0;
  letter-spacing: 0.1rem;
}

br {
  display: none;
}

.hero_section p {
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1em;
}

.hero_section button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--blue);
  color: var(--white);
  border-style: none;
  border-radius: 2em;
  padding: 1em 0;
  width: 10em;
}

.hero_section button:hover {
  cursor: pointer;
}

.trigger {
  display: none;
}

.slider-wrapper {
  position: relative;
  height: 20em;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.slide {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.slide-img {
  width: 100%;
}

.trigger:checked + .slide {
  opacity: 1;
}

.slider-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20em;
}

.slider-nav__item {
  margin: 0 !important;
}

.slider-nav__label {
  border: 0.1em solid var(--white);
  font-size: 1rem;
  display: block;
  height: 1em;
  line-height: 2em;
  width: 1em;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
  background-color: var(--white);
  color: var(--black);
}

@media (min-width: 55em) {
  .hero-section-wrapper {
    flex-direction: row;
    gap: 2em;
    padding: 2em;
    max-width: 80em;
    margin-inline: auto;
  }

  .slider-wrapper {
    height: 23em;
  }

  br {
    display: block;
  }

  .slide {
    border-radius: 1em;
  }
}

/* MARKET */

.overviewPageCardContainer,
.market-container {
  padding: 2em;
  border-radius: 0.5em;
  background-color: var(--black);
  margin-top: 1em;
}

#market a {
  color: var(--white);
  text-decoration: underline;
}

.price-container .price-header,
.card-header .name-header {
  position: relative;
  opacity: 0.8;
}

.price-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.price-container .price-tag::before {
  content: "";
  background-image: url("../assets/ethereum-eth-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 1.5em;
  height: 1.5em;
  display: block;
}

@media (min-width: 60em) {
  #market {
    padding: 2em;
  }

  .overviewPageCardContainer,
  .market-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  .card {
    width: 30%;
  }
}

.card {
  background-color: var(--marine);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.card figure {
  height: 20em;
  padding: 1.5em;
  padding-bottom: 1em;
}

.card img {
  border-radius: 0.2em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-header {
  display: flex;
  flex-grow: 1;
  padding: 0 1.5em 4em;
}

.card-header .price-container {
  margin-left: auto;
}

.card a {
  padding: 1em 0 1.5em;
  border-top: solid var(--white) 2px;
  color: var(--white);
  width: 90%;
  margin-inline: auto;
}

/* ERROR */

.error {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: var(--white);
  color: var(--black);
  width: 25em;
  padding: 1.5em 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: 0.3s ease;
  opacity: 0;
}

.error h2 {
  color: var(--blue);
  font-size: 1.2rem;
}

.error p {
  font-size: 1rem;
}

/* About section styles */

#about {
  margin-top: 2rem;
}

#about img {
  width: 100%;
}

.aboutSectionContainer {
  display: inline-flex;
  justify-content: center;
  margin: 5rem;
}

.aboutSectionHeader {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.aboutSectionContainer div {
  flex: 0 0 40%;
  align-self: center;
  line-height: 1.5rem;
  margin-right: 5rem;
}

.aboutSectionImg {
  width: 35rem;
  border-top: var(--marine) 2.5rem solid;
  border-bottom: var(--marine) 2.5rem solid;
  border-left: var(--marine) 1.5rem solid;
  border-right: var(--marine) 1.5rem solid;
  border-radius: 0.5rem;
}

@media (max-width: 70rem) {
  .aboutSectionContainer {
    flex-direction: column;
    margin: 0rem;
    align-items: center;
  }

  .aboutSectionContainer div {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
}

@media (max-width: 40rem) {
  .aboutSectionContainer {
    flex-direction: column;
    margin: 0rem;
    align-items: center;
  }

  .aboutSectionContainer div {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
}

/* DETAIL PAGE */


.detail-card{
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  margin:3em;
  height: 35em;
  width: 80%;

}
.detail-card img{
  border-radius: 0.2em;
  margin: 3.5em;
  margin-top: 6em;
  width: 35%;
  height:60%;
  object-fit: cover;
  
}
.detail-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-name{
  margin-bottom: 1em;
}
.price-container-detail .price-header-detail,
.detail-header .detail-name-header {
  position: relative;
  opacity: 0.8;
  margin-top: -3em;

}
.detail-name-container{
  margin-top: 10em;
}

.price-container-detail p {
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
  gap: 0.2em;
}

.price-container-detail .price-tag-detail::before {
  content: "";
  background-image: url("../assets/ethereum-eth-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
.description-info{
  padding-bottom: 1em;
  margin-right: 2em;
}

.buy{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,14,246,1) 0%, rgba(14,143,246,1) 99%);
  color: var(--white);
  border-style: none;
  border-radius: 2em;
  padding: 1em 0;
  width: 10em;
  /* margin-top: 1em; */

}
@media (max-width: 55rem){
  .detail-card{
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    align-items: center;
    justify-content: center;
    height: 40em;
  }
  .detail-header{
   margin-top: 3em;

  }
  .detail-card img{
    margin: 3.5em;
    margin-top: 1em;
    width: 60%;
  }
.detail-name-container{
  margin-top: -1em;
}
}


footer {
  background-color: var(--black);
  text-align: center;
  padding: 5em 0;
}
